.card {
  position: absolute;
  background-color: var(--bg-card);
  width: 270px;
  height: 170px;
  top: 5px;
  left: 15px;
  transition: transform .3s ease-in;
  box-shadow: -5px -5px 100px rgba(0, 0, 0, 0.4);

  &:after {
    content: url("./../../img/heart-outline.svg");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100px;
    opacity: .9;
    aspect-ratio: 1/1;
    fill: var(--heart-color);
    z-index: 1;
  }

  &:before {
    content: "";
    position: absolute;
    border: 3px solid var(--text-dark);
    border-style: dotted;
    width: 240px;
    height: 140px;
    left: 12px;
    top: 12px;
  }
  & p {
    position: absolute;
    text-wrap: balance;
    font-size: 28px;
    text-align: center;
    line-height: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
}
