.shadow {
    position: relative;
    width: 100%;
    height: 25px;
    border-radius:50%;
    background-color: rgba(0,0,0,0.3);
    margin: 20px auto;
    animation: var(--shadow-animation) 3s linear infinite;
    z-index:10;
  }